---
import "@/styles/global.css";
import { Toaster } from "@/components/ui/sonner";
import { LogOut } from "lucide-react";
import Logout from "@/components/Logout";

const title = Astro.props.title;
const pathName = Astro.url.pathname;

const urlPart = pathName.split("/")[2];

const data = Astro.locals;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main class="container-panel">
      <div class="AsideMenu bg-slate-300 p-4">
        <ul class="space-y-4">
          {
            data.authUser?.role.includes("ADMIN") && (
              <li>
                <a
                  href="/panel/universidades"
                  class={`text-white shadow-md p-2 ${urlPart?.includes("universidades") ? "bg-slate-500" : "bg-slate-400"} block rounded-md text-center hover:opacity-90`}
                >
                  Universidades
                </a>
              </li>
            )
          }

          {
            data.authUser?.role.includes("ADMIN") && (
              <li>
                <a
                  href="/panel/programas"
                  class={`text-white shadow-md p-2 ${urlPart?.includes("programas") ? "bg-slate-500" : "bg-slate-400"} block rounded-md text-center hover:opacity-90`}
                >
                  Programas
                </a>
              </li>
            )
          }

          {
            data.authUser?.role.includes("ADMIN") && (
              <li>
                <a
                  href="/panel/grupos"
                  class={`text-white shadow-md p-2 ${urlPart?.includes("grupos") ? "bg-slate-500" : "bg-slate-400"} block rounded-md text-center hover:opacity-90`}
                >
                  Grupos
                </a>
              </li>
            )
          }

          {
            data.authUser?.role.includes("ADMIN") && (
              <li>
                <a
                  href="/panel/profesores"
                  class={`text-white shadow-md p-2 ${urlPart?.includes("profesores") ? "bg-slate-500" : "bg-slate-400"} block rounded-md text-center hover:opacity-90`}
                >
                  Profesores
                </a>
              </li>
            )
          }

          {
            data.authUser?.role.includes("ADMIN") && (
              <li>
                <a
                  href="/panel/asignaturas"
                  class={`text-white shadow-md p-2 ${urlPart?.includes("asignaturas") ? "bg-slate-500" : "bg-slate-400"} block rounded-md text-center hover:opacity-90`}
                >
                  Asignaturas
                </a>
              </li>
            )
          }

          {
            data.authUser?.role.includes("ADMIN") && (
              <li>
                <a
                  href="/panel/instituciones"
                  class={`text-white shadow-md p-2 ${urlPart?.includes("instituciones") ? "bg-slate-500" : "bg-slate-400"} block rounded-md text-center hover:opacity-90`}
                >
                  Instituciones
                </a>
              </li>
            )
          }

          {
            data.authUser?.role.includes("ADMIN") && (
              <li>
                <a
                  href="/panel/estudiantes"
                  class={`text-white shadow-md p-2 ${urlPart?.includes("estudiantes") ? "bg-slate-500" : "bg-slate-400"} block rounded-md text-center hover:opacity-90`}
                >
                  Estudiantes
                </a>
              </li>
            )
          }

          {
            data.authUser?.role.includes("ADMIN") && (
              <li>
                <a
                  href="/panel/roles"
                  class={`text-white shadow-md p-2 ${urlPart?.includes("roles") ? "bg-slate-500" : "bg-slate-400"} block rounded-md text-center hover:opacity-90`}
                >
                  Roles
                </a>
              </li>
            )
          }

          {
            data.authUser?.role.includes("ADMIN") && (
              <li>
                <a
                  href="/panel/usuarios"
                  class={`text-white shadow-md p-2 ${urlPart?.includes("usuarios") ? "bg-slate-500" : "bg-slate-400"} block rounded-md text-center hover:opacity-90`}
                >
                  Usuarios
                </a>
              </li>
            )
          }

          {
            data.authUser?.role.includes("ADMIN") && (
              <li>
                <a
                  href="/panel/horarios"
                  class={`text-white shadow-md p-2 ${urlPart?.includes("horarios") ? "bg-slate-500" : "bg-slate-400"} block rounded-md text-center hover:opacity-90`}
                >
                  Horarios
                </a>
              </li>
            )
          }

          {
            data.authUser?.role.includes("ADMIN") && (
              <li>
                <a
                  href="/panel/notas"
                  class={`text-white shadow-md p-2 ${urlPart?.includes("notas") ? "bg-slate-500" : "bg-slate-400"} block rounded-md text-center hover:opacity-90`}
                >
                  Notas
                </a>
              </li>
            )
          }

          {
            data.authUser?.role.includes("ADMIN") && (
              <li>
                <a
                  href="/panel/asistencias"
                  class={`text-white shadow-md p-2 ${urlPart?.includes("asistencias") ? "bg-slate-500" : "bg-slate-400"} block rounded-md text-center hover:opacity-90`}
                >
                  Asistencias
                </a>
              </li>
            )
          }
        </ul>
      </div>
      <div class="TopBar p-2 flex items-center justify-between">
        <div>
          <a href="/panel" class="flex items-center">
            <img
              src="/Logo-UManizales-color.svg"
              alt="Logo Universidad de Manizales"
              width={80}
              class="px-4"
            />

            <img
              src="/logo-U_en_tu_colegio.png"
              alt="Logo U en tu colegio"
              width={80}
            />
          </a>
        </div>
        <h1 class="text-2xl font-medium text-center">
          Programas Técnicos y Tecnológicos | {title}
        </h1>
        <div class="flex items-center gap-4">
          <small class="text-gray-500">
            {data.authUser?.email}
            <br />
            ({data.authUser?.role})
          </small>
          <Logout client:load />
        </div>
      </div>
      <div class="Content p-8 bg-slate-50">
        <div class="bg-white h-full rounded-md shadow-sm p-8">
          <slot />
        </div>
      </div>
      <div>
        <Toaster client:load />
      </div>
    </main>
  </body>
</html>
